/* src/App.css */
.App {
  text-align: center;
}

.account-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.account-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  width: 200px;
  text-align: center;
}

.header {
  align-items: center;
}

.logout-button {
  height: 50;
  margin-right: 10px;
  margin-top: 10px;
  width: 40;
  right: 0;
  top: 0;
  position: absolute;
}